<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="./js/layui/css/layui.css" />
		<link rel="stylesheet" href="./css/result.css" />
		<link rel="stylesheet" href="../static/layui/css/index.css" />
	</head>
	<body>
		<div class="layui-container">
			<div class="expert">
				<div class="expert_image" style="margin-top: 20px;"><img src="../static/layui/images/zj-2.jpg"></div>
				<div class="expert_information" style="width: 900px;padding-left: 280px;padding-top: 10px; position: absolute;">解广阔，男，山东临沂人，毕业于北京理工大学机械电子工程专业，1998年进入施可丰，现任山东施可丰生态农业工程有限公司常务副总经理，负责公司日常运营管理和生产经营工作。作为施可丰生态公司发起人之一，自公司成立以来，在生物质液体肥料和智能农业设备的研发、生产和推广工作中作出突出贡献，他顺应国家水肥一体化政策，带领团队研发推出了含腐植酸水溶肥、含氨基酸水溶肥、大量元素水溶肥、微生物菌肥、中微量元素水溶肥等系列近五十多种产品，并自主研发了小型智能施肥机、智能自助售肥机、配施肥一体机等配套智能施肥设备，为公司创造更大效益的同时也为水肥同施、节水高效及发展绿色农业提供技术支撑。</div>
                <div class="expert_information" style="width: 900px;padding-left: 280px;margin-top: 10px; position: absolute; top: 160px">联系电话：400-6877-333</div>
			</div>
			<div class="expert">
				<div class="expert_image " style="margin-top: 20px"><img src="../static/layui/images/zj-3.jpg"></div>
				<div class="expert_information" style="width: 900px;padding-left: 280px;padding-top: 10px; position: absolute;">赵夫忠，男，山东临沂人，中共党员，自1990年进入供销系统参加工作，时任最年轻的汤头供销社部门经理；1994年调入供销系统下属企业施可丰化肥有限公司，从基层工艺员、业务员做起，通过不懈努力一步步成长，现任翔龙集团营销党支部书记、临沂市肥料协会副会长、临沂市供销社农资连锁配送有限公司总经理、施可丰中原营销有限公司总经理、施可丰金惠通电子商务有限公司总经理、施可丰生态农业工程有限公司总经理，他勇挑重担，身兼数职，始终坚持“爱土地、爱作物、爱农民”、“让天下的老百姓都用上放心肥”的原则，以其严谨的工作作风以及出色的管理能力，为集团健康稳健发展作出卓越贡献。</div>
			    <div class="expert_information" style="width: 900px;padding-left: 280px;margin-top: 10px; position: absolute; top: 435px"></div>
            </div>
		</div>
	</body>
</html>
